main {
    width: 70%;
}

body {
    display: flex;
    justify-content: center;
}

h1 {
    width: fit-content;
    margin-inline: auto;
}

a {
    vertical-align: text-bottom;
}

img {
    width: 30%;
    margin-left: 34%;
}

span {
    text-decoration-line: underline;
    color: rgb(255, 0, 234);
}